/* Barcodescanner Quagga */
#barcodescanner-container {
	max-height: 90vw;
}
#livestream-container {
	max-height: 100%;
}
#barcodescanner-livestream video {
	width: 100%;

}
#barcodescanner-livestream canvas {
	width: 100%;
}

.barcodescanner-start-button {
	position: absolute;
	right: 0;
	margin-top: 4px;
	margin-right: 5px;
	cursor: pointer;
}

.combobox-container .barcodescanner-start-button {
	margin-right: 36px !important;
}