body {
	padding-top: 50px;
	font-family: 'Noto Sans', sans-serif;
}

.navbar-fixed-top {
	background-color: #e5e5e5;
	border-bottom: 2px solid;
	border-color: #d6d6d6;
}

.navbar-brand {
	font-weight: bold;
	letter-spacing: -5px;
	font-size: 2.2em;
	color: #0b024c !important;
	margin-left: 0 !important;
	padding-left: 5px !important;
	
}

.navbar-fixed-side {
	top: 51px;
	padding-top: 20px;
	margin-bottom: 20px;
	background-color: #e5e5e5;
	border-right: 2px solid #d6d6d6;
	max-width: 260px;
	border-left: 0;
}

#sidebar {
	overflow-y: auto;
}

@media (min-width: 768px) {
	#navbar-mobile {
		display: none !important;
	}

	.nav-copyright {
		padding-bottom: 100px;
	}
}

@media (max-width: 768px) {
	.navbar-brand {
		margin-left: 25px !important;
	}
}

.sidebar-nav > li > a {
	padding-right: 20px;
	padding-left: 20px;
	transition: all 0.3s;
}

.sidebar-nav > li > a:hover {
	box-shadow: inset 5px 0 0 #337ab7;
	transition: all 0.3s;
}

.sidebar-nav > li > a:focus {
	box-shadow: inset 5px 0 0 #ab2230;
	transition: all 0.3s;
}

.sidebar-nav > .active > a,
.sidebar-nav > .active > a:hover,
.sidebar-nav > .active > a:focus {
	background-color: #d6d6d6;
	box-shadow: inset 5px 0 0 #ab2230;
	transition: all 0.3s;
}

.nav > li.disabled > a,
.navbar-default .navbar-nav > .disabled > a {
	color: #a7a7a7;
}

.nav-copyright {
	color: #a7a7a7;
	font-size: 11px;
	text-align: center;
}

.nav-copyright > li > a {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar-default .navbar-nav > .open > a {
	background-color: #d6d6d6 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #e5e5e5 !important;
}

.well {
	background-color: #e5e5e5;
	padding-right: 25px;
	padding-left: 25px;
}

td {
     vertical-align: middle !important;
}

.responsive-button {
    white-space: normal;
}

.discrete-link {
	color: inherit !important;
	transition: all 0.3s !important;
}

a.discrete-link:hover {
	color: #337ab7 !important;
	text-decoration: none !important;
	transition: all 0.3s !important;
}

a.discrete-link:focus {
	color: #ab2230 !important;
	text-decoration: none !important;
	transition: all 0.3s !important;
}

.table td.fit-content,
.table th.fit-content {
	white-space: nowrap;
	width: 1%;
}

.dataTables_info,
.dataTables_length,
.dataTables_filter {
	font-style: italic;
}

.timeago-contextual {
	font-style: italic;
	font-size: 0.8em;
}

.disabled,
.no-real-button {
	pointer-events: none;
	margin-top: 2px;
	margin-bottom: 2px;
}

.discrete-content-separator-2x {
	padding-top: 10px;
	padding-bottom: 10px;
}

.warning-bg {
	background-color: #fcf8e3 !important;
}

.error-bg {
	background-color: #f2dede !important;
}

.info-bg {
	background-color: #afd9ee !important;
}

#toast-container > div {
	opacity: 1;
	filter: alpha(opacity=100);
}

.toast-success {
	background-color: #4c994c;
}

#toast-container > div {
	box-shadow: none;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.dataTables_filter,
.dataTables_info {
	display: none;
}
